.game_screen {
  height: 100%;
  width: 100%;
  padding: 3% 1%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 75px;
}

.question {
  width: 95%;
  padding: 10px;
  padding-left: 50px;
  padding-top: 30px;
  background-color: greenyellow;
  border: none;
  border-radius: 18px;
  position: relative;
}

.qNum {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  border-radius: 50%;
  color: #fff;
  background-color: green;
}

.qText {
  font-size: 1.3rem;
}

.options {
  width: 98%;
  border-radius: 10px;
  max-height: 50%;
  overflow-y: auto;
  margin-top: 1.5rem;
  padding: 1rem;

  display: grid;
  /* grid-auto-flow: column; */
  /* grid-auto-rows: min-content; */
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
}

.option {
  background-color: #fff;
  min-height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid green;
  border-radius: 1.2rem;
  padding: 0.5rem 0.1rem 0.5rem 0.3rem;
}

.option:hover {
  cursor: pointer;
  /* border-color: #999; */
}

.selected {
  background-color: green; /* your brand color */
  border-color: green;
  color: white;
}

/* Optional: letter styling when selected */
.selected .optLetter {
  background: white;
  color: green;
}

.optValue {
  font-size: 1.2rem;
}

.optLetter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: green;
  color: #fff;
}

.nav_and_pb {
  position: fixed;
  bottom: 0px;

  width: 100%;
  height: 65px;
  /* background-color: rebeccapurple; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  margin: 0 3%;
  display: flex;
  justify-content: space-between;
}

.nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.queNav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 10%; */
  /* height: 40px; */

  background-color: green;
  color: #fff;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 15px;
  margin-top: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* .queNav:hover {
    border: none;
    box-shadow: none;
    border-bottom: 3px solid green;
  } */

.progressbar {
  height: 20px;
  background-color: transparent;
  border-radius: 45px;
  border: 2px solid green;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.progressTrack {
  /* width: 100%;
  height: 8px;
  background: #e5e5e5;
  border-radius: 6px;
  overflow: hidden; */
}

.progressFill {
  height: 100%;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
}

.progressText {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: black;
  width: 100%;
  background: transparent;
  /* background-color: red; */
  /* margin-top: 4px;
  display: block;
  text-align: right;
  color: green; */
}
