.homeCon {
  /* background: black; */
  width: 58vw;
  height: 58vh;
  border-radius: 15px;
}

.pageTxt {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3vw;
  /* background-color: red; */
}

form {
  height: 85%;
  /* background-color: black; */
}

.gameParameterCon {
  /* background: black;    */
  margin-top: 2vh;
  margin-bottom: 1vh;
  padding: 1vh;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.startCon {
  display: flex;
  justify-content: center;
  /* background: red; */
  /* margin-top: 2vh; */
  padding: 1vh;
}

.start {
  padding: 1.5vh 3vh;
  font-weight: bold;
  font-size: 1.2vw;
  border-radius: 1.5vh;
  background: #e0dfdf;
  border: 3px solid;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  /*  */
  transition-property: box-shadow;
  transition-delay: 0.2s;
  transition-duration: 1s;
}

.start:hover {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.8);
}

.bothHalf {
  /* margin: 1vh; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  /* background-color: red; */
}

.param {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  height: 75%;
}

.label {
  font-size: 24px;
}

.inputBox {
  height: 50px;
  width: 300px;
  border: 3px solid;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  background: #e0dfdf;
}
